.recent-properties-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border-bottom: 1px solid #ebebeb;
  padding-bottom: 15px;
  margin-bottom: 15px; }
  .recent-properties-item:last-child {
    border-bottom: 0;
    margin-bottom: 0;
    padding-bottom: 5px; }
  .recent-properties-item .r-p-i-image {
    width: 70px;
    border-radius: 6px;
    margin-right: 10px; }
    .recent-properties-item .r-p-i-image img {
      border-radius: 6px; }
  .recent-properties-item .r-p-i-info .title-small {
    font-size: 16px;
    margin: 0; }
  .recent-properties-item .r-p-i-info .property-location {
    font-size: 12px; }
