.about-hero {
  background-image: url("../img/about-bg.jpg");
  padding: 60px 0;
}

.home-hero-inside-about {
  padding: 85px 0 65px 0 !important;

  .hero-title {
    font-size: 30px;
  }

  .title-summery {
    font-size: 18px;
  }
}